@tailwind base;

@layer base {
  body {
    @apply font-sans bg-primary text-black;
  }
  button {
    @apply font-serif font-semibold text-sm;
  }
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url(assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(assets/fonts/Poppins-Regular.ttf);
}
