@tailwind base;

@layer base {
  body {
    @apply font-sans bg-primary text-black;
  }
  button {
    @apply font-serif font-semibold text-sm;
  }
  h1 {
    @apply text-[28px] sm:text-5xl lg:text-6xl text-center md:text-left font-bold text-white whitespace-nowrap;
  }
  h4 {
    @apply text-sm sm:text-xl text-center md:text-left font-medium text-white;
  }
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url(assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(assets/fonts/Poppins-Regular.ttf);
}
